div{
	border: 2px solid black;
}


#box1 {
	margin: 10px;
	padding: 0px;
}
#box2 {
	padding: 10px 30px 50px;
}

#box3{
	margin: 10px;
	padding: 10px 20px;
}

#box4{
	margin: 10px 30px 0px 50px;
}
